* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

::selection {
  color: #f2f0ea;
  background: #212121;
}

body {
  color: #212121;
  background-color: #f2f0ea;
}

li {
  list-style: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    stroke-dasharray: 1, 800;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -200px;
  }

  100% {
    stroke-dasharray: 800, 1;
    stroke-dashoffset: -800px;
  }
}

.spin2 {
  transform-origin: center;
  animation: spin2 0.5s ease-in-out infinite,
    spin 1s linear infinite;
  animation-direction: alternate;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.loading__small {
  width: 39px;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
}